{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}
{% load humanize %}

{% block body %}
<nav>
    <div class="container">
        <a href="/">PiSi (Packages Installed Successfully as Intended)</a>
        <a href="/core/packages/{% if component %}{{ component }}{% endif %}">core</a>
        <a href="/main/packages/{% if component %}{{ component }}{% endif %}">main</a>
        <a href="/contrib/packages/{% if component %}{{ component }}{% endif %}">contrib</a>
    </div>
</nav>

<header>
    <div class="container">
        <div id="user-info" class="anonymous"></div>

        <form id="npm-search" action="/{{ repo }}/packages/" method="get">
        <input name="q" value="{{ q }}" type="search" id="site-search" placeholder="find packages" tabindex="1" autocorrect="off" autocapitalize="off" />
        <input type="submit" id="site-search-submit" />
        </form>
    </div>
</header>

<div class="container">

{#    <div id="home-stats">#}
{#      <div class="stat icon-package">#}
{#        <strong class="pretty-number">{{ total_packages }}</strong> total packages#}
{#      </div>#}
{##}
{#      <div class="stat icon-cal-24hours">#}
{#        <strong class="pretty-number">..</strong>#}
{#        downloads in the last day#}
{#      </div>#}
{##}
{#      <div class="stat icon-cal-7days">#}
{#        <strong class="pretty-number">..</strong>#}
{#        downloads in the last week#}
{#      </div>#}
{##}
{#      <div class="stat icon-cal-30days">#}
{#        <strong class="pretty-number">..</strong>#}
{#        downloads in the last month#}
{#      </div>#}
{#    </div>#}




    {% if package %}

    {% else %}
        {% if components %}
            <h2 class="centered ruled">Components {% if component %}in {{ component }}{% endif %} </h2>

            <ul class="columnar">
                {% for component in components %}
                <li>
                    <div class="package-widget ">
                        <div class="package-details">
                            <h3><a class="name" href="{{ component.url }}">{{ component.component }}</a></h3>
                            {% if component.summary %}
                            <p class="description">{{ component.summary }}</p>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    {% if recently_updated_packages %}
    <h2 class="centered ruled"> recently updated packages </h2>

    <ul class="columnar">
        {% for package in recently_updated_packages %}
        <li>
            <div class="package-widget ">
                <div class="package-details">
                    <h3><a class="name" href="{{ package.get_absolute_url }}">{{ package.name }}</a></h3>
                    <p class="description">{{ package.source.summary }}</p>
                    <p class="author quiet">
                        <a class="version" href="/{{ repo }}/packages/{{ package.name }}">{{ package.source.version }}</a>
                        published {{ package.source.updated_at|naturaltime }} by <a href="#">{{ package.source.packager.name }}</a>
                    </p>
                </div>
            </div>
        </li>
        {% endfor %}
   </ul>
    {% endif %}


    {% if source %}
        <div class="container">
            <div class="content">
                <div id="readme">
                    <hgroup>
                        <h1>{{ source.name }}</h1>
                        <h2>{{ source.summary }}</h2>
                    </hgroup>
                    <p>{{ source.description }}</p>
                </div>
            </div>

            <div class="sidebar">
                <h3>Source Info</h3>
                <ul class="box">
                    <li>
                      <strong>{{ source.version }}</strong>
                        published {{ source.updated_at }}
                        by <a href="#">{{ source.packager.name }}</a>
                    </li>
                    <li><a href="{{ source.homepage }}">{{ source.homepage }}</a></li>
                </ul>

                <h3>Stats</h3>
                <ul class="box">
                    <li>Build Script Size <strong class="pretty-number">{{ source.build_script_size }}</strong></li>
                    <li>Spec Script Size <strong class="pretty-number">{{ source.spec_script_size }}</strong></li>
                    <li>Update Count <strong class="pretty-number">{{ source.update_count }}</strong></li>
                    <li>Patch Count <strong class="pretty-number">{{ source.patch_count }}</strong></li>
                </ul>

                <h3>Keywords</h3>
                <p class="list-of-links"></p>

                <h3>Packages</h3>
                <p class="list-of-links">
                    {% for source_package in source.packages.all %}
                        <a href="../../{{ source_package.name }}">
                            {{ source_package.name }}
                        </a>,
                    {% endfor %}
                </p>

                <h3>Build Dependencies</h3>
                <p class="list-of-links">
                    {% for dep in source.build_dep.all %}
                        <a href="../{{ dep.name }}">
                            {{ dep.name }}

                            {% if dep.versionFrom %}from: {{ dep.versionFrom }}{% endif %}
                            {% if dep.versionTo %}from: {{ dep.versionTo }}{% endif %}
                            {% if dep.version %}from: {{ dep.version }}{% endif %}
                            {% if dep.releaseFrom %}from: {{ dep.releaseFrom }}{% endif %}
                            {% if dep.releaseTo %}from: {{ dep.releaseTo }}{% endif %}
                            {% if dep.release %}from: {{ dep.release }}{% endif %}

                        </a>,
                    {% endfor %}
                </p>



            </div>
        </div>
    {% else %}
        {% if package %}
            <div class="container">
                <div class="content">
                    <div id="readme">
                        <hgroup>
                            <h1>{{ package.name }}</h1>
                            <h2>{{ package.source.summary }}</h2>
                        </hgroup>
                        <p>{{ package.source.description }}</p>
                    </div>

<h3>Dependencies</h3>
                    <p class="list-of-links">
                        {% for dep in runtime_deps %}
                            <a href="../{{ dep.name }}">
                                {{ dep.name }}

                                {% if dep.versionFrom %}from: {{ dep.versionFrom }}{% endif %}
                                {% if dep.versionTo %}from: {{ dep.versionTo }}{% endif %}
                                {% if dep.version %}from: {{ dep.version }}{% endif %}
                                {% if dep.releaseFrom %}from: {{ dep.releaseFrom }}{% endif %}
                                {% if dep.releaseTo %}from: {{ dep.releaseTo }}{% endif %}
                                {% if dep.release %}from: {{ dep.release }}{% endif %}

                            </a>,
                        {% endfor %}
                    </p>

                    <h3>Files</h3>
                    <p class="list-of-links">
                        {% for file in package.files.all %}
                            {{ file.path }}<br/>
                        {% endfor %}
                    </p>

                    <h3>Additional Files</h3>
                    <p class="list-of-links">
                        {% for file in package.a_files.all %}
                            {{ file.filename }}<br/>
                        {% endfor %}
                    </p>

                    <h3>Pachess</h3>
                    <p class="list-of-links">
                        {% for patch in package.source.patches.all %}
                            {{ patch.name }}<br/>
                        {% endfor %}
                    </p>

                </div>

                <div class="sidebar">
                    <div class="autoselect-wrapper npm-install icon-download">
                        <input type="text" value="pisi it {{ package.name }}" readonly=""/>
                    </div>

	                <h3>Package Info</h3>
	                <ul class="box">
                        <li>Component: <a href="../../packages/{{ package.source.component }}">{{ package.source.component }}</a></li>
                        <li>Source: <a href="../../source/{{ package.source.name }}">{{ package.source.name }}</a></li>
                        <li>
                          <strong>{{ package.source.version }}</strong>
                            published {{ package.source.updated_at|naturaltime }}
                            by <a href="#">{{ package.source.packager.name }}</a>
                        </li>
                        <li><a href="{{ package.source.homepage }}">{{ package.source.homepage }}</a></li>
                    </ul>

                    <h3>Stats</h3>
                    <ul class="box">
                        <li>Build Script Size <strong class="pretty-number">{{ package.source.build_script_size }}</strong></li>
                        <li>Spec Script Size <strong class="pretty-number">{{ package.source.spec_script_size }}</strong></li>
                        <li>Update Count <strong class="pretty-number">{{ package.source.update_count }}</strong></li>
                        <li>Patch Count <strong class="pretty-number">{{ package.source.patch_count }}</strong></li>
                    </ul>

                    <h3>Keywords</h3>
                    <p class="list-of-links"></p>

                </div>
            </div>




























        {% else %}
            {% if packages %}
                <h2 class="centered ruled">Packages {% if component %}in {{ component }}{% endif %}</h2>

                <ul class="columnar">
                    {% for package in packages %}
                    <li>
                        <div class="package-widget ">
                            <div class="package-details">
                                <h3><a class="name" href="/{{ repo }}/package/{{ package.name }}">{{ package.name }}</a></h3>
                                <p class="description">{{ package.source.summary }}</p>
                                <p class="author quiet">
                                    <a class="version" href="/{{ repo }}/package/{{ package.name }}">{{ package.source.version }}</a>
                                    published {{ package.source.updated_at|naturaltime }} by <a href="#">{{ package.source.packager.name }}</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
               </ul>

                {% if is_paginated %}

                    <div class="pagination">




                        {% if page_obj.has_previous %}
                            <a class="previous" href="?page={{ page_obj.previous_page_number }}{% if ordering %}&o={{ ordering }}{% endif %}">Prev</a>
                        {% endif %}

{#                        {% for page_number in paginator.page_range %}#}
{#                            {% if page_number = page_obj.number %}#}
{#                                <a class="active" href="">{{ page_number }}</a>#}
{#                            {% else %}#}
{#                                <a href="?page={{ page_number }}">{{ page_number }}</a>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}

                        {% for linkpage in page_numbers %}
                              {% ifequal linkpage page_obj.number %}
                                 <span class="current">{{ page_obj.number }}</span>
                              {% else %}
                                 <span class="page"><a href="?page={{ linkpage }}{% if ordering %}&o={{ ordering }}{% endif %}">{{ linkpage }}</a></span>
                              {% endifequal %}
                           {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="next" href="?page={{ page_obj.next_page_number }}{% if ordering %}&o={{ ordering }}{% endif %}">Next</a>
                        {% endif %}
                    </div>

                {% endif %}


            {% endif %}
        {% endif %}
    {% endif %}
</div>


{% endblock body %}